body {
    margin: 0 auto;
    background: #a2574f;
    color: #fcdca7;
    font-family: "Quintessential", Arial, sans-serif;
}

header {
    background: #ba9772;
    padding: 10px;
    border-bottom: 6px solid #8c6a4b;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

h2 {
    text-align: center;
    font-family: "Uncial Antiqua", Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

h4 {
    text-align: center;
    font-family: "Uncial Antiqua", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

main {
    width: 50%;
    margin: 0 auto;
}

section {
    padding-top: 15px;
}

.container {
    background: #a96d66;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    background-blend-mode: overlay;
    box-shadow: 0 0 40px rgba(0,0,0,0.3), inset 0 0 30px rgba(0,0,0,0.35);
}

.container::before,
.container::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 20px;
    background: #b69470;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.75);
}

article {
    background: rgba(0, 0, 0, 0.1);
    padding: 18px 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    line-height: 1.5;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}