body {
    margin: 0 auto;
    background: #a2574f;
    color: #fcdca7;
    font-family: "Quintessential", Arial, sans-serif;
}

header {
    background: #ba9772;
    padding: 10px;
    border-bottom: 6px solid #8c6a4b;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

h2 {
    text-align: center;
    font-family: "Uncial Antiqua", Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

h3 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    letter-spacing: 3px;
}

h4 {
    font-family: "Uncial Antiqua", Georgia, 'Times New Roman', Times, serif;
}

.repo, .links {
    font-family: "Uncial Antiqua", Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
    color: #ffd7a7;
    text-align: center;
    font-size: 1.3rem;
}

.links {
    color: #ffb36c;
}

section {
    display: flex;
    gap: 100px;
    margin-top: 15px;
    justify-content: center;
}

section > div {
    background: #a2574f;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 8px 0;
}

a {
    color: #ffe3c1;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 5px;
    transition: 0.2s ease;
}

a:hover {
    color: #fff8e6;
    text-shadow: 0 0 10px rgba(255,255,255,0.8);
}

main {
    width: 55%;
    margin: 40px auto;
    text-align: center;
    background: #a96d66;
    padding: 35px;
    border-radius: 15px;
    position: relative;
    background-blend-mode: overlay;
    box-shadow: 0 0 40px rgba(0,0,0,0.3), inset 0 0 30px rgba(0,0,0,0.35);
}

main::before,
main::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 20px;
    background: #b69470;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.75);
}

main:before {
    top: 15px;
}

.journal-link {
    margin-top: 90px;
}