<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% block scriptblock %}{% endblock %}
        <title>CART 351 PROJECT 2 - ETHAN</title>
    </head>
    <body>
        <header> 
            <h2> WELCOME TO THIS OR THAT! </h2>
        </header>
        <main>
        {% block content %}{% endblock %}
        </main>
    </body>
</html>